termgl
.deps
Makefile.am
Makefile.in
Makefile.old
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.log
config.status
config.sub
configure.ac
configure.ac~
configure~
depcomp
install-sh
missing
termgl-termgl.o
